@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.btn{
  background: #004225;
}

.btn:hover{
  background-color: #3bace2;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

.gradient,
.active{
  background: #004225;
}

.active{
  color: #fff;
  padding: 1rem;
  border-radius: 50%
}

@layer base {
  body{
    @apply font-secondary text-lg leading-8 bg-black text-white;
  }

  .h2{
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase
  }

  .h3{
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px]
  }

  .p{
    @apply font-primary text-[1.25rem] tracking-[10%]
  }

  .btn{
    @apply rounded-md font-primary text-white font-medium
  }

  .btn-sm{
    @apply h-[48px] px-6 text-sm
  }

  .btn-lg{
    @apply h-[56px] px-8 text-base;
  }

  .btn-link{
    @apply text-base;
  }

  .text-gradient{
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF5656] hover:to-[#42A6E3]
  }

  .section{
    @apply py-8 lg:py-24 lg:h-screen flex items-center
  }
}
